<form action="#message" method="post" class="m-auto" style="max-width: 500px;" enctype="multipart/form-data">
	<div class="form-floating my-1">
		<input class="form-control px-2" id="lastName" name="lastName" type="text" placeholder="Entrez votre nom..." required="" value="{{ form.lastName }}">
		<label class="mx-2" for="lastName">Nom</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="firstName" name="firstName" type="text" placeholder="Entrez votre prénom..." required="" value="{{ form.firstName }}">
		<label class="mx-2" for="firstName">Prénom</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="email" name="email" type="email" placeholder="Entrez votre E-mail..." required="" value="{{ form.email }}">
		<label class="mx-2" for="email">Adresse e-mail</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="password" name="password" type="password" placeholder="Entrez votre mot de passe..." required="">
		<label class="mx-2" for="password">Mot de passe</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="confirmPassword" name="confirmPassword" type="password" placeholder="Entrez la confirmation de votre mot de passe..." required="">
		<label class="mx-2" for="confirmPassword">Confirmation du mot de passe</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="catchPhrase" name="catchPhrase" type="text" placeholder="Entrez votre slogan..." required="" value="{{ form.catchPhrase }}">
		<label class="mx-2" for="catchPhrase">Slogan</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="cvFile" name="cvFile" type="file" placeholder="Téléversez votre curriculum vitæ..." required="">
		<label class="mx-2" for="cvFile">Téléverser le curriculum vitæ</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="pictureFile" name="pictureFile" type="file" placeholder="Téléversez votre photo d'identité..." required="">
		<label class="mx-2" for="pictureFile">Téléverser la photo d'identité</label>
	</div>
	<div class="form-floating my-1">
		<input class="form-control px-2" id="pictureAlt" name="pictureAlt" type="text" placeholder="Entrez la description de votre photo d'identité..." required="" value="{{ form.pictureAlt }}">
		<label class="mx-2" for="pictureAlt">Description de la photo d'identité</label>
	</div>

	<div class="d-flex justify-content-center my-5">
		<button class="btn btn-primary text-uppercase text-light w-100" id="submitButton" name="submitButton" type="submit">Initialiser</button>
	</div>

	{% if message.success is not null %}
		<p class="text-justify text-success" id="message">{{ message.success }}</p>

		<div class="d-flex justify-content-center my-4">
			<a href="/" class="btn btn-primary text-center text-uppercase  text-light w-100">Accéder au site</a>
		</div>
	{% endif %}

	{% if message.error is not null %}
		<p class="text-justify text-danger" id="message">{{ message.error }}</p>
	{% endif %}
</form>