<tr>
	<td>{{ comment.author }}</td>
	<td>{{ comment.content }}</td>
	<td>{{ comment.createdAt }}</td>
	<td>{{ comment.status == "online" ? "En ligne" : "Hors ligne" }}</td>
	<td class="px-0 py-1 d-flex justify-content-around">
		{% if comment.status == "online" %}
			<a href="/admin/comment/{{ comment.id }}/put-offline" class="btn btn-primary">Mettre hors ligne</a>
		{% else %}
			<a href="/admin/comment/{{ comment.id }}/put-online" class="btn btn-primary">Mettre en ligne</a>
		{% endif %}
	</td>
</tr>